:root
{


}

body
{

  background-color: beige;
  color: black;
}


H1
{

  font-family: 'Indie Flower', cursive;
}

p
{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;

}

label
{
  font-family: 'Indie Flower', cursive;

}

